{% macro comment(comments, visitors, ads, placeholder) %}
<div class="d-print-none mt-4" id="addon-footer">
    {% if global.config.show_comments && comments %}
    <link rel="stylesheet" href="https://artalk.dtiku.cn/dist/Artalk.css" />
    <style>
        .atk-copyright {
            display: none !important;
        }
        .atk-user-profile-btn {
            pointer-events: none;
        }
        .atk-comment>.atk-main>.atk-header .atk-badge-wrap{
            display: flex;;
        }
        .atk-comment>.atk-main>.atk-header .atk-badge-wrap>span{
            margin-right: 6px;
        }
    </style>
    <div id="artalk-comments" class="my-2"></div>
    {% endif %}
    {% if global.config.show_visitors && visitors %}
    <div class="text-center font-weight-light my-2">
        <span>当前时间</span>
        <span>{{global.date_now()}}&nbsp;</span>
        <span class="post-meta-item-text">页面访问量：</span>
        <span class="artalk-pv-count" data-page-key="{{global.request_uri}}">加载中...</span>
    </div>
    {% endif %}
</div>
{% if global.config.show_comments && comments || global.config.show_visitors && visitors %}
<script src="https://artalk.dtiku.cn/dist/Artalk.js"></script>
{% if global.config.show_comments && comments %}
<script>
    function artalkInit(){
        Artalk.use((ctx) => {
            ctx.on('user-changed', () => {
                console.log('用户登录信息已修改')
                var u = JSON.parse(localStorage.ArtalkUser);
                if (u && u.token) {
                    Cookies.set("token", u.token);
                } else {
                    removeToken();
                }
                location.reload();
            });
            ctx.on('page-loaded', () => {
                // 禁用Artalk默认的登录
                if ($("#artalk-comments .atk-send-btn").text() == "登录") {
                    const oldBtn = document.querySelector("#artalk-comments .atk-send-btn");
                    const newBtn = oldBtn.cloneNode(true); // true 表示深拷贝子节点
                    newBtn.innerHTML = "登录"
                    oldBtn.parentNode.replaceChild(newBtn, oldBtn);
                    $("#artalk-comments .atk-send-btn").off("click").on("click", function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        // 使用自定义登陆弹窗
                        $('#loginModal').modal('show');
                    });
                }
            })
        });
        var pv = {{ global.config.show_comments && comments }};
        var darkMode = !!{{ global.cookie("darkTheme")}};
        var config = Object.assign({
            el: '#artalk-comments',
            server: 'https://artalk.dtiku.cn',
            avatarURLBuilder: (c) => `https://{{global.original_host}}/user/comment/${c.id}/avatar`,
            imgUploader: async (f) => {
                const form = new FormData()
                form.set('file', f)
                const resp = await fetch('https://{{global.original_host}}/upload', {
                    method: 'POST',
                    body: form,
                });
                return await resp.text();
            },
            site: '公考加油站',
            pageview: pv,
            darkMode,
            pageVote: {
                activeClass: 'text-success',
                upBtnEl: '.artalk-page-vote-up',
                downBtnEl: '.artalk-page-vote-down',
                upCountEl: '.artalk-page-vote-up-count',
                downCountEl: '.artalk-page-vote-down-count',
            }
        });
        window.artalk = Artalk.init(config);
    }
    window.addEventListener('load', async () => {
        const token = Cookies.get("token");
        if (!token && localStorage.getItem("ArtalkUser")) {
            localStorage.removeItem("ArtalkUser");
        }
        if (token && !localStorage.getItem("ArtalkUser")) {
            const resp = await fetch("https://artalk.dtiku.cn/api/v2/user", {
                method: 'GET', // 或 POST、PUT 等
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`  // 通常使用 Bearer 方案
                }
            });
            const data = await resp.json();
            if (data.is_login) {
                const { email, is_admin, link, name } = data.user;
                localStorage.setItem("ArtalkUser", JSON.stringify({ email, is_admin, link, name, token }));
            } else {
                removeToken();
            }
        }
        artalkInit();
        window.themeSwitcher && window.themeSwitcher.listener.push(function (dark) {
            artalk.setDarkMode(dark)
        });
        // 内嵌于iframe时
        window.addEventListener('message', function (event) {
            const msg = event.data;
            if (msg && msg.type === 'set-theme') {
                artalk.setDarkMode(msg.dark)
            }
        });
    }, false);
</script>
{% endif %}
{% if !(global.config.show_comments && comments) && global.config.show_visitors && visitors %}
<script>
    window.addEventListener('load', function () {
        Artalk.loadCountWidget({
            server: 'https://{{global.original_host}}',
            site: '公考加油站',
        });
    }, false);
</script>
{% endif %}
{% endif %}
{% if global.config.show_ads && ads %}
<script>{{ global.config.ads_script }}</script>
{% endif %}
{% endmacro comment %}