{% macro table_hint_tr(collection, colspan, hint_text) %}
<tr th:if="${collection==null || collection.isEmpty()}">
    <td th:colspan="${colspan}" class="text-center" th:text="${hint_text}"></td>
</tr>
{% endmacro table_hint_tr %}

{% macro divide(count,d) %}
<span th:text="${count}"></span>
<th:block th:if="${d!=0}">
    （
    <span th:text="${numbers.formatDecimal(count*1.0/d,1,2)}"></span>
    ×
    <span th:text="${d}"></span>
    ）
</th:block>
{% endmacro divide %}

{% macro pagination(page,url,selectable) %}
<nav>
    <ul class="pagination justify-content-center">
        <li class="{%if page.is_first()%}disabled page-item{%else%}page-item{%endif%}">
            <a class="page-link"
                href='{{global.append_params(url,"page={page.page}&size={page.size}")}}'><span>←</span>上一页</a>
        </li>
        {% if selectable %}
        <li>
            <select class="page-selector custom-select rounded-0 border-left-0 border-right-0">
                {%for p in global.range(page.total_pages)%}
                <option value="{{p}}" selected="{{p==page.page+1}}">{{p}}</option>
                {%endfor%}
            </select>
        </li>
        {%endif%}
        <li class="{%if page.is_last()%}disabled page-item{%else%}page-item{%endif%}">
            <a class="page-link"
                href='{{global.append_params(url,"page={page.page+2}&size={page.size}")}}'>下一页<span>→</span></a>
        </li>
    </ul>
    <p class="text-center">{{page.page+1}} / {{page.total_pages}}</p>
</nav>
{% endmacro pagination %}

{% macro pager_select() %}
<script>
    $(function () {
        $(".page-selector").change(function () {
            const params = new URLSearchParams(location.search);
            params.set("page", $(this).val());
            location.search = "?" + params.toString();
        });
    })
</script>
{% endmacro pager_select %}

{% macro toast() %}
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    </div>
</div>
<script>
    function toast(text) {
        $("#liveToast").html(`
            <div class="toast-header">
                <svg class="icon-svg icon-svg-sm mr-2">
                    <use xlink:href="#ic-library"></use>
                </svg>
                <small>${new Date().toISOString()}</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="toast-body">
                ${text}
            </div>
            `).toast('show');
    }
</script>
{% endmacro toast %}

{% macro sortable() %}
<script>
    $(function () {
        $("th.sortable").click(function (e) {
            var param = new URLSearchParams(location.search);
            var order = e.offsetY < this.clientHeight / 2 ? 'asc' : 'desc';
            param.set("sort", $(this).data("sort-field") + "," + order);
            location.search = "?" + param.toString();
        });
    })
</script>
{% endmacro sortable %}