{% macro issue_detail_style%}
<link rel="stylesheet" href="/static/vendor/vditor/3.10.4/dist/index.min.css" />
<link rel="stylesheet" href="/static/vendor/tocbot/4.32.2/tocbot.min.css" />
<style media="print">
    header.card-header {
        justify-content: center;
        font-size: 1.3rem;
        margin: 10px;
    }

    header.card-header strong {
        margin: 0 auto;
    }

    details {
        /* 打印时默认强制展开 */
        display: block;
    }

    details:not([open])>* {
        display: block !important;
    }
</style>
<style>
    .details.card,
    details.card[open] {
        padding: 1em;
    }

    details.card[open] summary.card-header {
        margin: -1em -1em 1em;
    }

    .card-body img,
    .card-body object {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    mjx-container[jax="SVG"][display="true"] {
        display: block;
        text-align: center;
        margin: 1em 0;
        overflow: auto hidden;
    }

    mjx-container[jax="SVG"] {
        direction: ltr;
    }

    mjx-assistive-mml {
        display: none;
    }

    .vditor-reset,
    .vditor-reset table tr,
    .vditor-reset table tbody tr:nth-child(2n) {
        color: inherit !important;
        background-color: inherit !important;
    }

    .vditor-reset table td,
    .vditor-reset table th {
        word-break: break-word;
        white-space: pre-wrap;
    }

    #toc-table {
        position: fixed;
        z-index: 5;
        right: 3.5em;
        bottom: 5em;
        background: var(--light);
        border: 1px solid var(--gray);
        opacity: .75;
        min-width: 120px;
        max-height: 80vh;
        overflow-y: auto;
    }

    ol {
        list-style: none !important;
    }

    #toc-table:hover {
        opacity: 1;
    }

    #toc-table>.toc-list {
        overflow: hidden;
        position: relative;
    }

    #shenlun article.doc p.caption {
        display: block;
        text-indent: 0
    }

    #shenlun article footer {
        text-align: center;
        align-self: flex-end;
        margin-right: 6px
    }

    #shenlun article {
        background-image: repeating-linear-gradient(90deg, #ff7a7aaa, #ff7a7aaa 1px, #0000 1px 24px), repeating-linear-gradient(0deg, #ff7a7aaa, #ff7a7aaa 1px, #0000 1px 24px);
        background-position: 0 0, 0 1px;
        font-size: 16px;
        background-size: 24px 28px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column
    }

    #shenlun article header {
        text-align: center;
        font-weight: 700;
        text-indent: 0
    }

    #shenlun article q {
        display: block;
        color: #999
    }

    #shenlun article u {
        text-decoration-color: #61d695;
        text-decoration-thickness: 2px;
        text-decoration-style: wavy;
    }

    #shenlun article * {
        margin: 0;
        line-height: 28px;
        font-size: 16px;
        letter-spacing: 8px;
        text-indent: 3rem;
        transform: translate(5px, 3px);
    }
</style>
{% endmacro issue_detail_style %}

{% macro issue_detail_script%}
<script src="/static/vendor/tocbot/4.32.2/tocbot.min.js"></script>
<script type="module" defer src="/static/vendor/venny/venny.esm.js"></script>
<script>
    function adjustDocWidth() {
        $('.doc').each(function () {
            const $el = $(this);
            const width = $el.parent().outerWidth(); // 获取父容器宽度
            $el.width(Math.round(width / 24) * 24 - 23);
        });
    }
    // 加点防抖: 防止频繁触发
    function debounce(fn, delay = 100) {
        let timer;
        return function (...args) {
            clearTimeout(timer);
            timer = setTimeout(() => fn.apply(this, args), delay);
        };
    }
    $(function () {
        const adjustDocWidthDebounced = debounce(adjustDocWidth, 100);
        // 页面加载完成时执行一次
        adjustDocWidth();

        // 窗口大小变化时执行
        window.addEventListener('resize', adjustDocWidthDebounced);

        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '#toc-table',
            // Where to grab the headings to build the table of contents.
            contentSelector: '#toc',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
        });
    });
</script>
{% endmacro issue_detail_script %}