{% macro paper_meta(p)%}
{% if !p.extra.is_essay() %}
{% for m in PaperMode::iter() %}
<a href="/paper/{{p.id}}?mode={{m}}">{{m.text()}}</a>
{% endfor %}
{% endif %}
<a href="{% if global.user.is_none() %}#loginModal{%else%}javascript:window.print(){%endif%}"
    data-toggle="{% if global.user.is_none() %}modal{%endif%}">打印试卷</a>
{% endmacro paper_meta %}

{% macro paper_table(papers)%}
<table id="paper-table" class="table table-hover">
    {% for p in papers %}
    <tr>
        <td class="p-2">
            <a target="_blank" href="/paper/{{p.id}}">{{p.title}}</a>
            {% if let Some(topic) = p.extra.topic() %}
            <b class="badge badge-info">{{topic}}</b>
            {%~ endif %}
            {% if p.year==global.now_year() ~%}
            <b class="badge badge-success">New</b>
            {%~ endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endmacro paper_table%}