{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/painter.html.min.jinja" as painter -%}
{%- import "macros/question.html.min.jinja" as question -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    {% call general::headerfiles() %}
    <title>{{question.abbr(50)}}</title>
    <style>
    .recommends>.card {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .recommends>.card:last-child{
        margin-bottom: 0 !important;
        border-bottom: none;
        border-radius: .25rem;
    }
    </style>
</head>

<body class="container">
    {% call general::header() %}
    <div class="d-flex justify-content-center mb-3">
        <svg class="icon-svg">
            <use xlink:href="#ic-message"></use>
        </svg>
    </div>
    <div id="printcontent">
        {% if let Some(material) = question.materials %}
        {%for m in material%}
        <div class="material">
            <h3 class="text-center mt-2">材料{{global.chinese_num(loop.index)}}</h3>
            <div>{{m.content | safe}}</div>
        </div>
        {%endfor%}
        {% endif %}
        {% call question::question_card(question) %}
    </div>

    {%if !recommends.is_empty()%}
    <div class="card my-3">
        <div class="card-header text-white bg-info">类似题目</div>
        <div class="card-body p-0 recommends">
            {%for q in recommends%}
            {%call question::question_card(q)%}
            {%endfor%}
        </div>
    </div>
    {%endif%}
    {% call artalk::comment(true,true,true,"快来参与讨论吧")%}
    {% call general::footer() %}
    {% call painter::painter() %}
    <script th:replace="fragments/indent::solution-indent"></script>
    <script th:replace="fragments/question::solution-comment-script"></script>
    {% call question::answer_collapse_action() %}
</body>

</html>