<style>#artalk-comments .atk-right-action .atk-on{display: none;}</style>
<script src="/static/vendor/jquery-1.10.2/jquery.min.js"></script>
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{% call artalk::comment(true,false,true,"快来参与讨论吧")%}