{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/question.html.min.jinja" as question -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/painter.html.min.jinja" as painter -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>真题分类打印 | {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
    <link rel="stylesheet" href="/static/vendor/bootstrap-slider/11.0.2/bootstrap-slider.min.css">
    <style media="print">
        #printcontent .solution {
            display: block !important;
        }

        #printcontent .carousel-item {
            display: block;
            float: none;
        }
    </style>
</head>

<body class="container">
    {% call general::header() %}
    <div class="d-print-none">
        <div class="d-flex justify-content-center mb-3">
            <svg class="icon-svg">
                <use xlink:href="#ic-printer"></use>
            </svg>
        </div>
        <h1 class="text-center mb-4">模块真题打印</h1>
        <form action="/question/section">
            <div class="form-group mb-2 mx-n1">
                <select id="paperIds" name="paperIds" class="form-control" multiple="multiple" required
                    data-placeholder="输入省份或年份等关键词搜索试卷,最多可选20张试卷">
                    {%for p in papers%}
                    <option selected value="{{p.id}}">{{p.title}}</option>
                    {%endfor%}
                </select>
            </div>

            <div class="form-group row mx-n2">
                <input id="kp_path" name="kp_path" type="hidden" />
                <div id="keypoints" class="input-group col-12 col-md-6 mb-2 px-1">
                    <div class="input-group-prepend">
                        <label for="questionType" class="input-group-text">题型</label>
                    </div>
                </div>
                <div class="input-group col-12 col-md-6 mb-2 px-1">
                    <div class="input-group-prepend">
                        <label for="sectionType" class="input-group-text">题目/答案</label>
                    </div>
                    <select id="sectionType" name="sectionType" class="custom-select">
                        <option th:each="s:${allSections}" value="${s.name()}" th:selected="${sectionType==s}">
                            ${s.text}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group mb-2 mx-1">
                <input id="slider" type="text" data-slider-ticks="[0, 20, 40, 60, 80, 100]"
                    data-slider-ticks-snap-bounds="30" data-slider-value="[0, 100]"
                    data-slider-ticks-labels='["0%", "20%", "40%", "60%", "80%", "100%"]' style="width:100%" />
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">查询</button>
                <button id="exam" type="button" class="btn btn-link"
                    th:if="${user!=null && sectionType?.name()=='together'}"
                    th:classappend="${sets.isEmpty(paperIds)?'disabled':''}">练习
                </button>
                <a class="btn btn-link" th:href="${user==null?'#loginModal':'javascript:window.print()'}"
                    th:data-toggle="${user==null?'modal':''}"
                    th:classappend="${sets.isEmpty(paperIds)?'disabled':''}">打印</a>
            </div>
        </form>
    </div>

    <div id="printcontent" class="paper slide" data-interval="false" th:classappend="${user==null?'d-print-none':''}">
        <div class="exam-operator d-none justify-content-center my-2 d-print-none">
            <div class="btn-group">
                <button class="btn btn-primary" type="button" data-target="#printcontent" data-slide="prev">上一题</button>
                <div class="timer btn btn-outline-primary" style="width:10em" data-toggle="tooltip" data-html="true"
                    title="">
                    时间：00:00.0
                </div>
                <button class="btn btn-primary" type="button" data-target="#printcontent" data-slide="next">下一题</button>
            </div>
        </div>
        <div class="carousel-inner">
            {%for q in questions%}
            <div class="{%if loop.index==1%}active{%endif%}">
                <div th:if="${q.material!=null}" class="material" th:each="m:${q.material}">
                    <h4 class="text-center mt-2" th:text="${m.chineseNumber()}"></h4>
                    <div>${m.html}</div>
                </div>
                <div id="q-{{q.id}}" class="clearfix mt-3 p-1">
                    <b class="q-number float-left">{{loop.index}}、</b>
                    <a class="q-number float-left text-reset" href="/paper/{q.paper.id}#{q.number}">
                        <b>(${q.paper.year}${q.paper.area}第${q.number}题)</b>
                    </a>
                    <div class="question-wrapper" th:include="${sectionType.name()=='question'}?
                        ~{fragments/question::xingce_question(${q})}:(
                        ${sectionType.name()=='explain'}?~{fragments/question::raw_question_solution(${q})}:
                        ~{fragments/question::xingce_exercise_question(${q},null)})"></div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {% call artalk::comment(true,true,true,"对网站或题目有啥疑问可以在这里吐槽")%}
    {% call general::footer() %}
    <script src="/static/vendor/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="/static/vendor/select2/4.0.13/js/i18n/zh-CN.min.js"></script>
    <script src="/static/vendor/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    {% call painter::painter() %}
    {% call question::answer_collapse_action() %}
    <script src='/static/dist/js/speech.js'></script>
    <script>
        function renderPaper(p) {
            const icon = p.type ? ([[{ system_showVendor }]] ? "https://www." + p.type + ".com/favicon.ico" : '') : window.loadingGif;
            const vendorIcon = icon ? "<img class='mr-2 vendor-icon' src='" + icon + "'/>" : icon;
            return $(
                "<span class='d-flex align-items-center'>" + vendorIcon +
                "<b>" + p.text + "</b>" +
                "</span>"
            );
        }
        function loadLevel(pid, level) {
            $.ajax({
                url: `/kp/xingce/${pid}`,
                method: 'GET',
                success: function (data) {
                    // 清理当前层级之后的所有下级 Select
                    $("#keypoints select")
                        .filter((_, el) => parseInt($(el).data('level')) >= level)
                        .remove();

                    if (data.length === 0) return; // 没有下一级数据

                    // 创建新的下一级 select
                    const $select = $(`<select class="custom-select"></select>`)
                        .attr('data-level', level)
                        .append(`<option value="">-全部-</option>`);

                    data.forEach(item => {
                        $select.append(`<option value="${item.id}">${item.name}</option>`);
                    });

                    $("#keypoints").append($select);

                    // 当下拉变化时，递归加载下一级
                    $select.on('change', function () {
                        $("kp_path").val($("#keypoints select")
                            .map(function () {
                                return $(this).val();
                            })
                            .filter(Boolean)
                            .join(".")
                        );
                        const nextPid = $(this).val();
                        if (nextPid) {
                            loadLevel(nextPid, level + 1);
                        } else {
                            // 如果选择为空，清除其下所有级别
                            $(this).nextAll('select').remove();
                        }
                    });
                },
                error: function () {
                    alert("加载失败");
                }
            });
        }
        $(function () {
            loadLevel(0, 0);
            $('#slider').slider({
                formatter: function (value) {
                    if (Array.isArray(value)) {
                        return '正确率: ' + value.map(v => v + '%').join(' ~ ');
                    } else {
                        return '正确率: ' + value + '%';
                    }
                }
            });
            $("#paperIds").select2({
                minimumInputLength: 2,
                maximumSelectionLength: 20,
                language: "zh-CN",
                closeOnSelect: false,
                tokenSeparators: [','],
                ajax: {
                    url: '/paper/title/like',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    data: function (param) {
                        return { q: param.term }
                    },
                    processResults: function (data, page) {
                        console.log("results", arguments);
                        return {
                            results: data.map(function (p) {
                                return { id: p.id, type: p.fromType, text: p.title };
                            })
                        };
                    }
                },
                templateResult: renderPaper,
                // templateSelection: p => p.text,
            });

            var $printcontent = $("#printcontent");
            var $carouselItems = $printcontent.find(".carousel-inner>div");
            var $examOperator = $printcontent.find(".exam-operator");
            var $timer = $printcontent.find(".timer");

            function ms2String(n) {
                var s = Math.floor(n / 1000), ms = Math.floor(n % 1000 / 100), m = Math.floor(s / 60);
                return String(m).padStart(2, '0') + ":" + String(s % 60).padStart(2, '0') + "." + ms;
            }

            function refreshTimer(refresh) {
                var $activeItem = $printcontent.find(".carousel-item.active");
                var timerMs = $activeItem.data("timer-ms") || 0;
                if (refresh === undefined || refresh) {
                    $activeItem.data('timer-ms', timerMs + 100);
                }
                $timer.text("时间：" + ms2String(timerMs));
            }

            $timer.click(function () {
                var timer = $timer.data('timer');
                $timer.data('timer', timer ? clearInterval(timer) || false : setInterval(refreshTimer, 100));
                var totalMs = 0, maxMs = 0, minMs = Number.MAX_VALUE, indexOfMaxMs = 0, indexOfMinMs = 0;
                $printcontent.find(".carousel-item").each(function (i) {
                    var ms = $(this).data("timer-ms") || 0;
                    totalMs += ms;
                    if (maxMs < ms) {
                        maxMs = ms;
                        indexOfMaxMs = i;
                    }
                    if (minMs > ms) {
                        minMs = ms;
                        indexOfMinMs = i;
                    }
                });
                var totalMsEle = "<div>总耗时：" + ms2String(totalMs) + "</div>";
                var maxMsEle = "<div>耗时最长：" + ms2String(maxMs) + "</div>";
                var minMsEle = "<div>耗时最短：" + ms2String(minMs) + "</div>";
                $timer.tooltip('hide').attr("data-original-title", "<div class='p-1'>" + totalMsEle + maxMsEle + minMsEle + "</div>").tooltip("show");
            });

            $("#exam").click(function () {
                $carouselItems.toggleClass('carousel-item');
                var has = $printcontent.toggleClass("carousel").carousel().on('slid.bs.carousel', function () {
                    refreshTimer(false);
                }).hasClass("carousel");
                $examOperator.toggleClass('d-flex', has).toggleClass('d-none', !has);

                var timer = $timer.data('timer');
                $timer.data('timer', timer && clearInterval(timer));

                if (has) {
                    $timer.data('timer', setInterval(refreshTimer, 100));
                }
            });
        })
    </script>
</body>

</html>