{%- import "macros/general.html.min.jinja" as general -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>论坛编辑器 | {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
    <link rel="stylesheet" href="/static/vendor/vditor/3.10.4/dist/index.min.css">
    <style>
        #editor img,
        #editor object {
            display: block;
            margin: 0 auto;
        }

        .vditor-reset,
        .vditor-reset table tr,
        .vditor-reset table tbody tr:nth-child(2n) {
            color: inherit !important;
            background-color: inherit;
        }

        .vditor-reset table td,
        .vditor-reset table th {
            word-break: break-word;
            white-space: pre-wrap;
        }
    </style>
</head>

<body class="container">
    {% call general::header() %}
    <form id="form" class="card mb-3" method="post"
        action="{%if let Some(i)=issue%}/bbs/issue/{{i.id}}{%else%}/bbs/issue{%endif%}">
        <header class="card-header d-flex flex-wrap p-1 align-items-center">
            <div class="input-group col-12 col-lg-4 p-0 pr-lg-2">
                <select class="custom-select" name="topic" required>
                    <option selected value="">-选择一个主题-</option>
                    {%for t in TopicType::iter() %}
                    {%if issue.is_topic(t)%}
                    <option value="{{t}}" selected>{{t.text()}}</option>
                    {%else%}
                    <option value="{{t}}">{{t.text()}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
                <div class='tooltip-topic invalid-tooltip'>不能为空</div>
            </div>
            <div class="input-group col-12 col-lg-8 p-0 mt-2 mt-lg-0">
                <input name="title" type="text" class="form-control" placeholder="输入标题"
                    value="{%if let Some(i)=issue%}{{i.title}}{%endif%}" required>
                <div class='tooltip-title invalid-tooltip'>不能为空</div>
                <div class="input-group-append">
                    <input id="preview" type="button" class="btn btn-success" value="预览" />
                    <input id="submit" type="submit" class="btn btn-primary d-none" value="提交" />
                </div>
            </div>
        </header>
        <div class="card-body p-0">
            <div id="editor" style="height: 100vh" data-toggle="tooltip"></div>
        </div>
    </form>
    {% call general::footer() %}
    <script src="/static/vendor/vditor/3.10.4/dist/index.min.js"></script>
    <script type="module" defer src="/static/vendor/venny/venny.esm.js"></script>
    <script>
        $(function () {
            var eEditor = document.querySelector('#editor');
            eEditor.style.background = 'url("' + window.loadingGif + '") center center no-repeat';
            var initValue = {%if let Some(i) = issue %}{{ i.markdown | json | safe }}{%else%}''{% endif %};
        window.vEditor = new Vditor(eEditor, {
            width: '100%',
            height: '100vh',
            placeholder: '在这里输入文章内容',
            mode: 'wysiwyg',
            value: initValue || '',
            cdn: 'https://{{global.original_host}}/static/vendor/vditor/3.10.4',
            counter: {
                enable: true,
                type: 'markdown'
            },
            toolbar: ['emoji', 'headings', 'bold', 'italic', 'strike',
                '|', 'line', 'quote', 'list', 'ordered-list', 'check', 'outdent', 'indent', 'code', 'inline-code', 'table',
                '|', 'undo', 'redo', 'upload', 'edit-mode', 'fullscreen', 'preview'
            ],
            toolbarConfig: {
                pin: true
            },
            theme: window.themeSwitcher.getTheme() ? 'dark' : 'light',
            preview: {
                theme: window.themeSwitcher.getTheme() ? 'dark' : 'light',
                list: { dark: "Dark", light: "Light" },
                path: '/static/vendor/vditor/3.10.4/dist/content-theme',
                math: { engine: 'MathJax', inlineDigit: true },
                actions: []
            },
            cache: {
                enable: true,
                id: '{%if let Some(i)=issue%}issue-{{i.id}}{%else%}new-issue{%endif%}'
            },
            focus() {
                $("#editor").tooltip('toggle').attr("data-original-title", "").tooltip("hide");
            },
            after() {
                $('button[data-type="preview"]').click(function () {
                    $("#submit").toggleClass('d-none');
                    $("#preview").toggleClass('d-none');
                });
            },
            upload: {
                url: "https://s.dtiku.cn/dtiku-alist-api/upload",
                fieldName: 'file',
                multiple: false,
                format: (f, respTxt) => `{"msg":"","code":0,"data":{"errFiles":[],"succMap":{"${f[0].name}":"${respTxt}"}}}`,
                linkToImgUrl: "https://s.dtiku.cn/dtiku-alist-api/upload-by-link"
            }
        });
        window.themeSwitcher.listener.push(function (dark) {
            vEditor.setTheme(dark ? 'dark' : 'light');
        });
        $("#preview").click(function () {
            $('button[data-type="preview"]').click();
        });
        $("#form").submit(function (e) {
            if (!this.topic.value) {
                e.preventDefault();
                return false;
            }
            if (!this.title.value) {
                e.preventDefault();
                return false;
            }
            var md = vEditor.getValue();
            if (!md || !md.trim()) {
                $("#editor").tooltip('hide').attr("data-original-title", "必填内容").tooltip("show");
                e.preventDefault();
                return false;
            } else {
                $("<input />").attr("type", "hidden")
                    .attr("name", "markdown")
                    .attr("value", md)
                    .appendTo("#form");
                $("<input />").attr("type", "hidden")
                    .attr("name", "html")
                    .attr("value", $(".vditor-preview .vditor-reset").html())
                    .appendTo("#form");
                vEditor.clearCache();
                return true;
            }
        });
        })
    </script>
</body>

</html>