{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/elements.html.min.jinja" as elements -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>{{query.topic()}} - 论坛交流 | {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
    <style>
        .issue-list tr>td {
            min-width: 10em;
        }

        .issue-list tr>td:last-child {
            min-width: 8em;
        }

        .issue-list tr>td:first-child {
            min-width: 10em;
            width: 80%;
        }
    </style>
</head>

<body class="container">
    {% call general::header() %}
    <div class="card mb-3">
        <header class="card-header d-flex align-items-center">
            <svg class="icon-svg icon-svg-sm mr-2">
                <use xlink:href="#ic-library"></use>
            </svg>
            <b>主题</b>
        </header>
        <div class="card-body d-flex flex-wrap">
            <a class="btn btn-link {%if query.topic.is_none()%}active{%endif%}" href="/bbs">全部</a>
            {%for t in TopicType::iter() %}
            <a class="btn btn-link {%if query.topic == Some(t.clone())%}active{%endif%}"
                href="?topic={{t}}">{{t.text()}}</a>
            {%endfor%}
        </div>
    </div>

    {%if !pin_issues.is_empty()%}
    <div class="row">
        {%for ps in pin_issues%}
        <a class="col text-decoration-none" href="/bbs/issue/{{ps.id}}">
            <div class="card mb-3">
                <div class="card-header bg-transparent d-flex p-1 pl-4 align-items-center">
                    <svg class="icon-svg icon-svg-md mr-2">
                        <use xlink:href="#{{ps.topic.icon()}}"></use>
                    </svg>
                    <b class="mr-auto">{{ps.topic.text()}}热帖</b>
                    <button class="btn ml-auto">
                        <svg class="icon-svg icon-svg-md">
                            <use xlink:href="#ic-pin"></use>
                        </svg>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-text">{{ps.title}}</h5>
                </div>
                <div class="card-footer bg-transparent p-1 pl-4">
                    <small class="text-muted">发布于{{global.format_with_now(ps.created)}}</small>
                </div>
            </div>
        </a>
        {%endfor%}
    </div>
    {%endif%}

    <div class="card mb-3">
        <header class="d-flex card-header p-1 pl-4 align-items-center">
            <svg class="icon-svg icon-svg-sm mr-2">
                <use xlink:href="#ic-list"></use>
            </svg>
            <strong class="mr-auto">{{query.topic()}}帖子</strong>
            <a class="btn card-link d-flex align-items-center"
                href="{%if global.user.is_none()%}#loginModal{%else%}/bbs/issue{%endif%}"
                data-toggle="{%if global.user.is_none()%}modal{%endif%}">
                <svg class="icon-svg icon-svg-sm mr-2">
                    <use xlink:href="#ic-post"></use>
                </svg>
                <b>我来发帖</b>
            </a>
        </header>
        <div class="input-group">
            <input type="text" id="search" placeholder="输入标题进行搜索" value="{{query.title()}}"
                onkeydown='if(event.keyCode==13){search();}' class="form-control rounded-0"
                data-filter="'/bbs/issue/like?&q=#QUERY#'">
            <div class="input-group-append">
                <button id="submit" type="submit" data-target="#search" class="btn btn-outline-secondary">点我搜索</button>
            </div>
        </div>
        <div class="card-body py-0">
            {%if page.is_empty() %}<div class="mt-2 text-center">啊欧，空空如也</div>{%endif%}
            <table class="issue-list table">
                {% for i in page.content %}
                <tr>
                    <td>
                        <a href="/bbs/issue/{{i.id}}">
                            <svg class="icon-svg icon-svg-md mr-2">
                                <use xlink:href="#{{i.topic.icon()}}"></use>
                            </svg>
                            <strong>【{{i.topic.text()}}】{{i.title}}</strong>
                        </a>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <p class="d-flex align-items-center mb-1">
                            {% if let Some(u)=i.user %}
                            <img class="border rounded-circle mr-2" style="height:2em" src="{{u.avatar}}"
                                alt="{{u.name}}">
                            <b>{{u.name}}</b>
                            {%endif%}
                        </p>
                        <b class="mb-1" data-toggle="tooltip" title='{{global.format(i.created, "%Y-%m-%d %H:%M")}}'>
                            {{global.format_with_now(i.created)}}
                        </b>
                    </td>
                    <td>
                        <div class="d-flex justify-content-around mb-1">
                            <div data-toggle="tooltip" title="评论数: {{i.comment}}">
                                <svg class="icon-svg icon-svg-sm mr-1">
                                    <use xlink:href="#ic-comment"></use>
                                </svg>
                                <b>{{i.comment}}</b>
                            </div>
                            <div data-toggle="tooltip" title="阅读量: {{i.view}}">
                                <svg class="icon-svg icon-svg-sm mr-1">
                                    <use xlink:href="#ic-view"></use>
                                </svg>
                                <b>{{i.view}}</b>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around mb-1 ">
                            <div data-toggle="tooltip" title="点赞数: {{i.vote_up}}">
                                <svg class="icon-svg icon-svg-sm mr-1">
                                    <use xlink:href="#ic-agree"></use>
                                </svg>
                                <b>{{i.vote_up}}</b>
                            </div>
                            <div data-toggle="tooltip" title="反对数: {{i.vote_down}}">
                                <svg class="icon-svg icon-svg-sm mr-1">
                                    <use xlink:href="#ic-disagree"></use>
                                </svg>
                                <b>{{i.vote_down}}</b>
                            </div>
                        </div>
                    </td>
                </tr>
                {%endfor%}
            </table>
            {% call elements::pagination(page, query.build_url(), false) %}
        </div>
    </div>
    {% call artalk::comment(true,true,true,"来这里吐槽一下")%}
    {% call general::footer() %}
    <script src="/static/vendor/bootstrap-autocomplete.js/bootstrap-autocomplete.min.js"></script>
    <script>
        function search() {
            const title = $("#search").val();
            const params = new URLSearchParams(location.search);
            params.set("title", title);
            params.set("page", '1');
            location.search = "?" + params.toString();
        }

        $(function () {
            $("#submit").click(search);
            $("#search").autocomplete();
        })
    </script>
</body>

</html>