#:schema https://spring-rs.github.io/config-schema.json
[web]
port = 18088
graceful = true
connect_info = true

[web.middlewares]
logger = { enable = false, level = "${WEB_LOG_LEVEL:info}", override_filter = "${WEB_LOG_LEVEL_FILTER:info}" }

[logger]
level = "${RUST_LOG:info}"
override_filter = "${LOG_LEVEL_FILTER:info,axum=warn,sea_orm=warn}"
pretty_backtrace = false

[sea-orm]
uri = "${DATABASE_URL}"
max_connections = ${MAX_DB_CONNECTION:20}
enable_logging = false

[sea-orm-web]
one_indexed = true

[stream]
uri = "${REDIS_URL}"

[redis]
uri = "${REDIS_URL}"

[opentelemetry]
enable = ${OPENTELEMETRY_ENABLE:true}
otlp_endpoint = "${OTLP_ENDPOINT:http://localhost:4317}"

[pay]
test_pay_amount = ${TEST_PAY_AMOUNT:false}
wechat_pay_enable = ${WECHAT_PAY_ENABLE:false}
alipay_enable = ${ALIPAY_ENABLE:true}
alipay_api_url = "${ALIPAY_API_URL}"
alipay_app_id = "${ALIPAY_APP_ID}"
alipay_root_cert_sn = "${ALIPAY_ROOT_CERT_SN}"
alipay_public_key = "${ALIPAY_PUBLIC_KEY}"
alipay_app_cert_sn = "${ALIPAY_APP_CERT_SN}"
alipay_app_private_key = "${ALIPAY_APP_PRIVATE_KEY}"
alipay_app_public_key = "${ALIPAY_APP_PUBLIC_KEY}"
alipay_callback_url = "${ALIPAY_CALLBACK_URL}"

