{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/paper.html.min.jinja" as paper -%}
<!DOCTYPE html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>{{global.config.site_title}}</title>
    {% call general::headerfiles() %}
    <style>
        @media (max-width: 768px) {
            .big-icon {
                width: 0.8em;
                height: 0.8em;
            }
        }
    </style>
</head>

<body class="container">
    {% call general::header() %}

    <div class="row my-4 no-gutters">
        <a href="/shenlun-categories" class="col-3 d-flex flex-column align-items-center text-reset">
            <svg class="icon-svg big-icon">
                <use xlink:href="#ic-classify"></use>
            </svg>
            <b>申论归类</b>
        </a>
        <a href="/question/section" class="col-3 d-flex flex-column align-items-center text-reset">
            <svg class="icon-svg big-icon">
                <use xlink:href="#ic-printer"></use>
            </svg>
            <b>模块打印</b>
        </a>
        <a href="/question/search" class="col-3 d-flex flex-column align-items-center text-reset">
            <svg class="icon-svg big-icon">
                <use xlink:href="#ic-search"></use>
            </svg>
            <b>题库搜索</b>
        </a>
        <a href="/bbs" class="col-3 d-flex flex-column align-items-center text-reset">
            <svg class="icon-svg big-icon">
                <use xlink:href="#ic-message"></use>
            </svg>
            <b>论坛交流</b>
        </a>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-9 col-xl-9">
            {%for hp in home_papers%}
            <div class="card mb-3">
                <header class="d-flex card-header align-items-center p-1 pl-3">
                    <svg class="icon-svg icon-svg-sm mr-2">
                        <use xlink:href="#ic-list"></use>
                    </svg>
                    <strong>最新{{hp.ty.name}}真题</strong>
                    <div class="flex-grow-1"></div>
                    {%if hp.sub_papers.len() <= 1%}
                    <a class="btn btn-link d-flex align-items-center text-reset" 
                        href="/paper?ty={%if hp.sub_papers.is_empty()%}{{hp.ty.prefix}}{%else%}{{hp.sub_papers[0].ty.prefix}}{%endif%}">
                        <svg class="icon-svg icon-svg-sm mr-2">
                            <use xlink:href="#ic-more"></use>
                        </svg>
                        <em>查看更多</em>
                    </a>
                    {%else%}
                    <div class="dropdown">
                        <a class="btn btn-link dropdown-toggle d-flex align-items-center" href="#"
                            data-toggle="dropdown" role="button" aria-expanded="false">
                            <svg class="icon-svg icon-svg-sm mr-2">
                                <use xlink:href="#ic-library"></use>
                            </svg>
                            <strong>{{hp.ty.name}}</strong>
                        </a>
                        <div class="dropdown-menu shadow-sm">
                            {%for sp in hp.sub_papers%}
                            <a class="dropdown-item" data-toggle="tab"
                                href="#dropdown-content-{{ hp.ty.prefix }}-{{ sp.ty.prefix }}">
                                {{sp.ty.name}}
                            </a>
                            {%endfor%}
                        </div>
                    </div>
                    {%endif%}
                </header>
                {%if hp.sub_papers.len() <= 1%}
                {%if hp.sub_papers.is_empty()%}
                {%call paper::paper_table(&hp.papers)%}
                {%else%}
                {%call paper::paper_table(&hp.sub_papers[0].papers)%}
                {%endif%}
                <footer class="card-footer">
                    <a class="card-link" href="/paper?ty={%if hp.sub_papers.is_empty()%}{{hp.ty.prefix}}{%else%}{{hp.sub_papers[0].ty.prefix}}{%endif%}">查看更多</a>
                </footer>
                {%else%}
                <div class="tab-content">
                    {% for sp in hp.sub_papers %}
                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}"
                        id="dropdown-content-{{ hp.ty.prefix }}-{{ sp.ty.prefix }}">
                        {%call paper::paper_table(&sp.papers)%}
                        <footer class="card-footer">
                            <a class="card-link" href="/paper?ty={{sp.ty.prefix}}">查看更多</a>
                        </footer>
                    </div>
                    {% endfor %}
                </div>
                {%endif%}
            </div>
            {%endfor%}
        </div>
        <div class="col-sm-12 col-lg-3 col-xl-3">
            {%if !global.config.home_sidebar.is_empty()%}
            {{global.config.home_sidebar|safe}}
            {%endif%}
            <div class="card mb-3">
                <header class="d-flex card-header align-items-center p-1 pl-3">
                    <svg class="icon-svg icon-svg-sm mr-2">
                        <use xlink:href="#ic-list"></use>
                    </svg>
                    <strong>高频成语</strong>
                    <div class="flex-grow-1"></div>
                    <a class="btn btn-link d-flex align-items-center text-reset" href="/idiom">
                        <svg class="icon-svg icon-svg-sm mr-2">
                            <use xlink:href="#ic-more"></use>
                        </svg>
                        <em><i class="d-lg-none">查看</i>更多</em>
                    </a>
                </header>
                <table class="table idiom-list">
                    <tr>
                        <th class="p-2">成语</th>
                        <th class="p-2 text-right">次数</th>
                    </tr>
                    {%for s in idioms%}
                    <tr>
                        <td class="p-2">
                            <a href="/idiom/{{s.text}}">{{s.text}}</a>
                        </td>
                        <td class="p-2 text-right">{{s.question_count}}</td>
                    </tr>
                    {%endfor%}
                </table>
                <footer class="card-footer">
                    <a class="card-link" href="/idiom">查看更多</a>
                </footer>
            </div>
            <div class="card mb-3">
                <header class="d-flex card-header align-items-center p-1 pl-3">
                    <svg class="icon-svg icon-svg-sm mr-2">
                        <use xlink:href="#ic-list"></use>
                    </svg>
                    <strong>高频词语</strong>
                    <div class="flex-grow-1"></div>
                    <a class="btn btn-link d-flex align-items-center text-reset" href="/word">
                        <svg class="icon-svg icon-svg-sm mr-2">
                            <use xlink:href="#ic-more"></use>
                        </svg>
                        <em><i class="d-lg-none">查看</i>更多</em>
                    </a>
                </header>
                <table class="table idiom-list">
                    <tr>
                        <th class="p-2">词语</th>
                        <th class="p-2 text-right">次数</th>
                    </tr>
                    {%for s in words%}
                    <tr>
                        <td class="p-2">
                            <a href="/word/{{s.text}}">{{s.text}}</a>
                        </td>
                        <td class="p-2 text-right">{{s.question_count}}</td>
                    </tr>
                    {%endfor%}
                </table>
                <footer class="card-footer">
                    <a class="card-link" href="/word">查看更多</a>
                </footer>
            </div>
        </div>
    </div>

    {% call artalk::comment(true,true,true,"来这里吐槽一下试卷😁")%}
    {% call general::footer() %}
    <script>
        $(function () {
            // 处理 dropdown-item 的 active 状态
            $('.dropdown-menu .dropdown-item[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // 移除同一 dropdown-menu 中所有 dropdown-item 的 active 类
                $(e.target).closest('.dropdown-menu').find('.dropdown-item').removeClass('active');
                // 给当前点击的 dropdown-item 添加 active 类
                $(e.target).addClass('active');
            });

            // 初始化时为第一个 tab 对应的 dropdown-item 添加 active 类
            $('.dropdown-menu').each(function() {
                var $firstItem = $(this).find('.dropdown-item[data-toggle="tab"]').first();
                $firstItem.addClass('active');
            });
        });
    </script>
</body>

</html>