{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/elements.html.min.jinja" as elements -%}
{%- import "macros/painter.html.min.jinja" as painter -%}
{%- import "macros/question.html.min.jinja" as question -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>{{idiom.detail.text}} | 高频{{idiom.detail.ty.text()}}积累 | {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
    <style>
        .idiom-list {
            margin: 0;
        }

        .idiom-list td {
            vertical-align: middle !important;
        }

        .idiom-list tr>td:first-child {
            width: 5em;
        }

        .idiom-list tr>td:last-child {
            width: 4em;
        }

        .idiom-list td>p {
            margin: 0 !important;
        }

        .table .dropdown-toggle::after {
            transition: all .3s;
        }
    </style>
</head>

<body class="container">
    {% call general::header() %}
    <h1 id="idiom-{{idiom.detail.id}}" title="{{idiom.detail.text}}" class="text-center">
        <a rel="external nofollow" target="_blank"
            href="https://hanyu.sogou.com/result?query={{idiom.detail.text}}">{{idiom.detail.text}}</a>
    </h1>
    <div class="m-4 text-muted">
        <span
            class='badge {%if idiom.detail.explain.baobian.contains("褒")%}badge-success{%elif idiom.detail.explain.baobian.contains("贬")%}badge-warning{%else%}badge-secondary{%endif%}'>
            {{idiom.detail.explain.baobian}}
        </span>
        <span>{{idiom.detail.explain.definition}}</span>
    </div>
    {% if let IdiomExplainEntry::Idiom(i) = idiom.detail.content %}
    {%if let Some(d) = i.definition_info%}
    <p>基本: {{d.definition}}</p>
    {%if d.similar_definition.is_empty()%}<p>比喻: {{d.similar_definition}}</p>{%endif%}
    {%if d.modern_definition.is_empty()%}<p>今义: {{d.modern_definition}}</p>{%endif%}
    <ul>
        {%for dm in d.detail_means%}
        <li>{{dm.word}}: {{dm.definition}}</li>
        {%endfor%}
    </ul>
    {%endif%}
    <ol>
        {%for lj in i.liju%}
        <li>{{lj.show_name}}</li>
        {%endfor%}
    </ol>
    {%call jyc_fyc(idiom.detail.content.jyc(), idiom.detail.content.fyc(), idiom)%}
    {% elif let IdiomExplainEntry::Term(t) = idiom.detail.content %}
    <ul class="nav nav-tabs" id="termTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="basicDefinition" data-toggle="tab" data-target="#basicDefinitionContent" type="button" role="tab">基本释义</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="detailDefinition" data-toggle="tab" data-target="#detailDefinitionContent" type="button" role="tab">详细释义</button>
        </li>
    </ul>
    <div class="tab-content" id="termTabContent">
        <div class="tab-pane fade show active" id="basicDefinitionContent" role="tabpanel">
            
        </div>
        <div class="tab-pane fade" id="detailDefinitionContent" role="tabpanel">
        </div>
    </div>
    {% endif %}

    <div class="card mb-3">
        <header class="d-flex card-header align-items-center">
            <svg class="icon-svg icon-svg-sm mr-2">
                <use xlink:href="#ic-list"></use>
            </svg>
            <b class="mr-auto">出处</b>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="unique-question">
                <label class="custom-control-label" for="unique-question" data-toggle="tooltip"
                    th:title="|${idiom.refs.size()}中有${idiom.duplicate.size()}题重复|">去除重复题目</label>
            </div>
        </header>
        <table class="table">
            <tr>
                <th>真题试卷</th>
                <th class="text-center px-0" style="width:5em">题号</th>
            </tr>
            {%for r in idiom.refs%}
            <tr id="q-{{r.question.id}}">
                <td class="p-1">
                    {%if global.config.show_vendor%}
                    <img class="vendor-icon" rel="external nofollow noreferrer" src="{r.refPaper.fromType.iconUrl()}"
                        alt="{r.refPaper.fromType.name()}" />
                    {%endif%}
                    <a href="/paper/{{r.paper.id}}#q-{{r.sort}}" target="_blank">{{r.paper.title}}</a>
                </td>
                <td class="text-center px-0 py-1">
                    <a class="btn btn-link dropdown-toggle" role="button" data-toggle="collapse"
                        href="#idiom-ref-{{r.id}}">第{{r.sort}}题</a>
                </td>
            </tr>
            <tr class="well collapse bg-light" id="idiom-ref-{{r.id}}">
                <td colspan="2" class="question-wrapper">{%call question::xingce_question(r.question)%}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {% call artalk::comment(true,true,true,"来这里吐槽一下")%}
    {% call general::footer() %}
    {% call painter::painter() %}
    {% call question::answer_collapse_action() %}
    {% call question::solution_comment_script() %}
    <script>
        $(function () {
            var d = "";
            $("#unique-question").click(function () {
                var val = $(this).is(':checked');
                for (var qid of d) {
                    $("#q-" + qid).toggleClass('d-none', val).next().toggleClass('d-none', val);
                }
            });
            $('a[data-toggle="collapse"]').click(function () {
                $(this).closest('tr').toggleClass('dropup');
            });
        })
    </script>
</body>

</html>