{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/elements.html.min.jinja" as elements -%}
{%- import "macros/painter.html.min.jinja" as painter -%}
{%- import "macros/question.html.min.jinja" as question -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>{{idiom.detail.text}} | 高频{{idiom.detail.ty.text()}}积累 | {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
    <style>
        .idiom-list {
            margin: 0;
        }

        .idiom-list td {
            vertical-align: middle !important;
        }

        .idiom-list tr>td:first-child {
            width: 5em;
        }

        .idiom-list tr>td:last-child {
            width: 4em;
        }

        .idiom-list td>p {
            margin: 0 !important;
        }

        .table .dropdown-toggle::after {
            transition: all .3s;
        }
    </style>
</head>

<body class="container">
    {% call general::header() %}
    <h1 id="idiom-{{idiom.detail.id}}" title="{{idiom.detail.text}}" class="text-center">
        <a rel="external nofollow" target="_blank"
            href="https://hanyu.sogou.com/result?query={{idiom.detail.text}}">{{idiom.detail.text}}</a>
    </h1>
    <div class="m-4 text-muted">{{idiom.detail.explain}}</div>
    {%if !idiom.detail.content.liju.is_empty()%}
    <h3>例句</h3>
    <div class="m-4 text-muted">{{idiom.detail.content.liju | safe}}</div>
    {%endif%}
    {%if !idiom.detail.content.jyc.is_empty() && !idiom.detail.content.fyc.is_empty() %}
    <div class="card mb-3">
        <header class="d-flex card-header align-items-center">
            <svg class="icon-svg icon-svg-sm mr-2">
                <use xlink:href="#ic-list"></use>
            </svg>
            <b>词语辨析</b>
        </header>
        {%if !idiom.detail.content.jyc.is_empty() %}
        <table class="table idiom-list">
            <tr class="table-secondary">
                <th class="text-center px-0 py-2">近义词</th>
                <th class="py-2 {%if idiom.jyc.is_empty()%}d-none{%endif%}">释义</th>
                <th class="text-center px-0 py-2 {%if idiom.jyc.is_empty()%}d-none{%endif%}">真题</th>
            </tr>
            {%for s in idiom.jyc%}
            <tr>
                <td class="text-center px-0">
                    <a rel="external nofollow" target="_blank"
                        href="https://hanyu.sogou.com/result?query={{s.text}}">{{s.text}}</a>
                </td>
                <td>{{s.explain}}</td>
                <td class="text-center px-0">
                    <a href="/{{idiom.detail.ty}}/{{s.text}}?">{s.paperFrequency}</a>
                </td>
            </tr>
            {%endfor%}
            {%if !idiom.other_jyc().is_empty() %}
            <tr>
                <td colspan="3" class="p-3">
                    {%for t in idiom.other_jyc()%}
                    <a class="mr-2" rel="external nofollow" target="_blank"
                        href="https://hanyu.sogou.com/result?query={{t}}">{{t}}</a>
                    {%endfor%}
                    <a rel="external nofollow" target="_blank"
                        href="https://hanyu.sogou.com/result?query={{idiom.detail.text}}">...</a>
                </td>
            </tr>
            {%endif%}
        </table>
        {%endif%}
        {%if !idiom.detail.content.fyc.is_empty() %}
        <table class="table idiom-list">
            <tr class="table-secondary">
                <th class="text-center px-0 py-2">反义词</th>
                <th class="py-2 {%if idiom.fyc.is_empty()%}d-none{%endif%}">释义</th>
                <th class="text-center px-0 py-2 {%if idiom.fyc.is_empty()%}d-none{%endif%}">真题</th>
            </tr>
            {%for s in idiom.fyc%}
            <tr>
                <td class="text-center px-0">
                    <a rel="external nofollow" target="_blank"
                        href="'https://dict.baidu.com/s?ptype=zici&wd='+${s.text}">{{s.text}}</a>
                </td>
                <td>{{s.explain}}</td>
                <td class="text-center px-0">
                    <a rel="external nofollow" target="_blank"
                        href="/{{idiom.detail.ty}}/{{s.text}}">{s.paperFrequency}</a>
                </td>
            </tr>
            {%endfor%}
            {%if !idiom.other_fyc().is_empty() %}
            <tr>
                <td colspan="3" class="p-3">
                    {%for t in idiom.other_fyc()%}
                    <a class="mr-2" rel="external nofollow" target="_blank"
                        href="https://hanyu.sogou.com/result?query={{t}}">{{t}}</a>
                    {%endfor%}
                    <a rel="external nofollow" target="_blank"
                        href="https://hanyu.sogou.com/result?query={{idiom.detail.text}}">...</a>
                </td>
            </tr>
            {%endif%}
        </table>
        {%endif%}
    </div>
    {%endif%}

    <div class="card mb-3">
        <header class="d-flex card-header align-items-center">
            <svg class="icon-svg icon-svg-sm mr-2">
                <use xlink:href="#ic-list"></use>
            </svg>
            <b class="mr-auto">出处</b>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="unique-question">
                <label class="custom-control-label" for="unique-question" data-toggle="tooltip"
                    th:title="|${idiom.refs.size()}中有${idiom.duplicate.size()}题重复|">去除重复题目</label>
            </div>
        </header>
        <table class="table">
            <tr>
                <th>真题试卷</th>
                <th class="text-center px-0" style="width:5em">题号</th>
            </tr>
            {%for r in idiom.refs%}
            <tr id="q-{{r.question.id}}">
                <td class="p-1">
                    {%if global.config.show_vendor%}
                    <img class="vendor-icon" rel="external nofollow noreferrer" src="{r.refPaper.fromType.iconUrl()}"
                        alt="{r.refPaper.fromType.name()}" />
                    {%endif%}
                    <a href="/paper/{{r.paper.id}}#q-{{r.sort}}" target="_blank">{{r.paper.title}}</a>
                </td>
                <td class="text-center px-0 py-1">
                    <a class="btn btn-link dropdown-toggle" role="button" data-toggle="collapse"
                        href="#idiom-ref-{{r.id}}">第{{r.sort}}题</a>
                </td>
            </tr>
            <tr class="well collapse bg-light" id="idiom-ref-{{r.id}}">
                <td colspan="2" class="question-wrapper">{%call question::xingce_question(r.question)%}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {% call artalk::comment(true,true,true,"来这里吐槽一下")%}
    {% call general::footer() %}
    {% call painter::painter() %}
    {% call question::answer_collapse_action() %}
    <script>
        $(function () {
            var d = "";
            $("#unique-question").click(function () {
                var val = $(this).is(':checked');
                for (var qid of d) {
                    $("#q-" + qid).toggleClass('d-none', val).next().toggleClass('d-none', val);
                }
            });
            $('a[data-toggle="collapse"]').click(function () {
                $(this).closest('tr').toggleClass('dropup');
            });
        })
    </script>
</body>

</html>