{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/paper.html.min.jinja" as paper -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>
        {% if let Some(l) = label %}{{ l.name }}{% endif %}{{paper_type.name}}真题库 | {{global.config.site_title}}
    </title>
    {% call general::headerfiles() %}
</head>

<body class="container">
    {% call general::header() %}
    <div class="card mb-3">
        <header class="card-header d-flex p-1 align-items-center">
            <div class="dropdown">
                <a class="btn btn-link dropdown-toggle d-flex align-items-center" href="#" data-toggle="dropdown"
                    role="button" aria-expanded="false" id="clsDropdown">
                    <svg class="icon-svg icon-svg-sm mr-2">
                        <use xlink:href="#ic-library"></use>
                    </svg>
                    <strong>{{paper_type.name}}</strong>
                </a>
                <div class="dropdown-menu shadow-sm" aria-labelledby="clsDropdown">
                    {% for p in global.paper_types %}
                    {% if let Some(paper_types) = p.children %}
                    {% for sub_type in paper_types %}
                    <a class="dropdown-item" href="?ty={{sub_type.prefix}}">{{p.name ~ " / " ~ sub_type.name}}</a>
                    {% endfor %}
                    {% else %}
                    <a class="dropdown-item" href="?ty={{p.prefix}}">{{p.name}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </header>
        <div id="allProvinces" class="card-body d-flex flex-wrap nav nav-pills" role="tablist">
            {% for l in label_tree.labels %}
            {% if l.children.is_some() %}
            <button class="btn btn-link {%if l.active(query.label_id)%}active{%endif%}" type="button" role="tab"
                data-toggle="tab" data-target="#sub_labels_{{l.id}}">{{l.name}}</button>
            {%else%}
            <a class="btn btn-link {% if l.id == query.label_id %}active{% endif %}"
                href="?ty={{paper_type.prefix}}&lid={{l.id}}">{{l.name}}</a>
            {%endif%}
            {% endfor %}
        </div>
    </div>
    {%if label_tree.level%}
    <div class="tab-content">
        {% for l in label_tree.labels %}
        {%if let Some(children) = l.children%}
        <div class="card mb-3 tab-pane fade {%if l.active(query.label_id)%}active show{%endif%}"
            id="sub_labels_{{l.id}}" role="tabpanel">
            <div class="card-body d-flex flex-wrap">
                {% for sl in children %}
                <a class="btn btn-link {% if sl.id == query.label_id %}active{% endif %}"
                    href="?ty={{paper_type.prefix}}&lid={{sl.id}}">{{sl.name}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {%endif%}

    <div class="card mb-3">
        <header class="d-flex card-header align-items-center">
            <svg class="icon-svg icon-svg-sm mr-2">
                <use xlink:href="#ic-list"></use>
            </svg>
            <strong>{%if let Some(l) = label%}{{l.name}}{%endif%}{{paper_type.name}}试卷列表</strong>
        </header>
        <div id="fromType" class="text-center">
            <a class="btn btn-link" th:href="@{/paper(category=${cls.category},cls=${cls.text},province=${province})}"
                th:classappend="${fromType==null?'active':''}">全部</a>
            <a class="btn btn-link" th:each="t : ${allFromType}"
                th:href="@{/paper(category=${cls.category},cls=${cls.text},province=${province},fromType=${t})}"
                th:text="${t.text}" th:classappend="${fromType==t?'active':''}"></a>
        </div>
        {% call paper::paper_table(papers) %}
    </div>
    {% call artalk::comment(true,true,true,"来这里吐槽一下")%}
    {% call general::footer() %}
</body>

</html>