{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/paper.html.min.jinja" as paper -%}
{%- import "macros/question.html.min.jinja" as question -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/painter.html.min.jinja" as painter -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>{{paper.title}}{%if mode == "show_answer"%}答案{%endif%} | {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
    {% if mode == "exercise" %}
    <style>
        #xc-report tr:last-child {
            border-top: 1px dashed grey;
            font-weight: bold;
        }

        .answer-paper-wrapper {
            background: rgba(255, 255, 255, 0.3);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            overflow-y: auto;
            max-height: 90vh;
            border-radius: .5em .5em 0 0;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
            transition: bottom .3s;
        }

        .-answer- label {
            color: #CE1126 !important;
        }

        .-answer- .custom-control-input~.custom-control-label::before {
            background-color: #CE1126 !important;
        }

        .paper .custom-control-input:disabled:checked~.custom-control-label::before {
            background-color: #FFC107 !important;
        }

        .paper .-answer- .custom-control-input:checked~.custom-control-label::before {
            background-color: #59CE77 !important;
        }

        .paper .custom-radio {
            z-index: auto;
        }

        .paper .custom-control-label::before,
        .paper .custom-control-label::after {
            z-index: 1;
        }

        #answer-paper a.answer-block {
            display: block;
            text-align: center;
            font-size: 10px;
            width: 3em;
            height: 3em;
            line-height: 3em;
            margin: 1em;
            border: 1px solid #59CE77;
        }

        #answer-paper-toggle .icon-svg-arrow {
            transition: transform .3s;
            transform: rotate(-90deg);
        }

        #answer-paper-toggle[aria-expanded="true"] .icon-svg-arrow {
            transform: rotate(90deg);
        }
    </style>
    {%else%}
    <style>
        #answer-list>a {
            width: 20%;
        }
    </style>
    {%endif%}
    <script src="/static/vendor/utif/3.1.0/UTIF.js"></script>
</head>

<body class="container" onload="UTIF.replaceIMG()">
    {% call general::header() %}
    <div id="printcontent" class="{% if global.user.is_none() %}d-print-none{% endif %}">
        <h1 class="text-center">{{paper.title}}</h1>
        <p class="text-center d-print-none">{% call paper::paper_meta(paper, mode) %}</p>
        {% if mode == "show_answer" %}
        <div id="answer-list" class="show-answer row">
            {%for q in questions %}
            {%if let Some(answer) = q.get_answer() %}
            <a class="text-reset text-center" href="#q-{{q.num}}">
                <b>{{q.num}}</b>、<b class="-answer-">{{answer | safe}}</b>
            </a>
            {%endif%}
            {%endfor%}
        </div>
        {% elif mode == "exercise" %}
        {% if let Some(r) = report%}
        <table id="xc-report" class="mx-auto text-center d-print-none" style="width: 20em">
            <caption>测验报告</caption>
            <tr>
                <th>题型</th>
                <th>正确</th>
                <th>错误</th>
                <th>题量</th>
                <th>耗时</th>
                <th>正确率</th>
            </tr>
            {%for c in r%}
            <tr>
                <td>{{c.chapter.name}}</td>
                <td class="text-success">{{c.correct}}</td>
                <td class="text-warning">{{c.error}}</td>
                <td class="text-info">{{c.chapter.count}}</td>
                <td class="text-info">{{c.time | hms}}</td>
                <td class="text-info">{{c.correct_ratio()}}</td>
            </tr>
            {%endfor%}
        </table>
        {% endif %}
        {% endif %}
        <div class="paper paper-xingce {{mode}}">
            {% if mode == "show_answer" %}
            {% for qvo in questions %}
            {% if let Some(chapter) = qvo.chapter %}
            <div class="mt-3">
                <h2 class="text-center">{{chapter.name}}</h2>
                <p><b>{{chapter.desc}}</b></p>
            </div>
            {% endif %}
            {% if let Some(materials) = qvo.materials %}
            {% for m in materials %}
            <h3 class="text-center mt-2">{{m.num | chinese_num}}</h3>
            <div class="material">{{m.content | safe}}</div>
            {% endfor %}
            {% endif %}
            <div class="d-flex mt-2">
                <div id="q-{{qvo.num}}" class="q-number flex-shrink-0"><b>{{qvo.num}}</b>.</div>
                <div class="flex-grow-1 question-wrapper">{% call question::xingce_question(qvo) %}</div>
            </div>
            {% endfor %}
            {% elif mode == "exercise" %}
            <form method="post" action="/paper/{{paper.id}}/report">
                {% for qvo in questions %}
                {% if let Some(chapter) = qvo.chapter %}
                <div class="mt-3">
                    <h2 class="text-center">{{chapter.name}}</h2>
                    <p><b>{{chapter.desc}}</b></p>
                </div>
                {% endif %}
                {% if let Some(materials) = qvo.materials %}
                {% for m in materials %}
                <h3 class="text-center mt-2">{{m.num | chinese_num}}</h3>
                <div class="material">{{m.content | safe}}</div>
                {% endfor %}
                {% endif %}
                <div class="d-flex mt-2">
                    <div id="q-{{qvo.num}}" class="q-number flex-shrink-0"><b>{{qvo.num}}</b>.</div>
                    <div class="flex-grow-1 question-wrapper show-answer">
                        {% call question::xingce_exercise_question(qvo, user_answer) %}
                    </div>
                </div>
                {% endfor %}
                <div class="fixed-bottom answer-paper-wrapper d-print-none">
                    <div class="d-flex justify-content-center my-1 position-sticky" style="top:4px">
                        <a id="answer-paper-toggle" href="#answer-paper" data-toggle="collapse" class="btn btn-link">
                            <svg class="icon-svg icon-svg-sm icon-svg-arrow mr-2">
                                <use xlink:href="#ic-arrow"></use>
                            </svg>
                            <b>答题卡</b>
                        </a>
                        {%if user_answer.is_none()%}
                        <button class="btn btn-link" type="submit"><b>交卷</b></button>
                        {%endif%}
                    </div>
                    <div id="answer-paper" class="collapse">
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for qvo in questions %}
                            <a class="answer-block {%if user_answer.is_none()%}text-muted{%elif global.match_answer(user_answer,qvo)%}text-white bg-success{%else%}text-white bg-danger{%endif%}"
                                id="answer-for-{{qvo.id}}" href="#q-{{qvo.num}}">{{qvo.num}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    {% call artalk::comment(false,true,true,"来这里吐槽一下试卷😁")%}
    {% call general::footer() %}
    {% call painter::painter() %}
    {% call question::solution_comment_script() %}
    {% call question::answer_collapse_action() %}
    <script src='/static/dist/js/speech.js'></script>
    {% if mode == "exercise" && user_answer.is_none() %}
    <script>
        window.floatButtonAddon = [{
            style: 'always',
            render: function () {
                return "<div id='click_timer' class='d-flex align-items-center'>" +
                    "<b class='total-timer text-center d-lg-block d-none' style='min-width:4em'>00:00</b>" +
                    "<svg class='icon-svg'><use xlink:href='#ic-timer'></use></svg>" +
                    "</div>";
            },
            click: function () {
            }
        }]
        $(function () {
            var $clickTimer = $("#click_timer");

            function s2String(s) {
                m = Math.floor(s / 60);
                return String(m).padStart(2, '0') + ":" + String(s % 60).padStart(2, '0');
            }

            function refreshTimer() {
                var $timer = $clickTimer;
                var totalTime = $timer.data("total-timer") || 0, itemTime = $timer.data("item-timer") || 0;
                $timer.data("total-timer", totalTime + 1).data('item-timer', itemTime + 1);
                $timer.find("b.total-timer").text(s2String(totalTime));
            }

            $('input[type="radio"]').change(function () {
                if (this.value) {
                    var $answer = $('#answer-for-' + this.name);
                    var $qt = $answer
                        .removeClass('text-muted')
                        .toggleClass('bg-success', !!this.value)
                        .toggleClass('text-white', !!this.value)
                        .find('input[type="hidden"]');
                    if ($qt.size()) {
                        $qt.val(Number($qt.val()) + $clickTimer.data('item-timer'));
                    } else {
                        $answer.append('<input name="qt.' + this.name + '" type="hidden" value="' + $clickTimer.data('item-timer') + '"/>');
                    }
                    $clickTimer.data('item-timer', 0);
                }
            });

            var t = setInterval(refreshTimer, 1000);
            $clickTimer.click(function () {
                t = t ? clearInterval(t) : setInterval(refreshTimer, 1000);
                $(this).find(".icon-svg>use").attr('xlink:href', t ? '#ic-timer' : '#ic-rest');
                $(this).find("b.total-timer").toggleClass('d-none', !!t).toggleClass('d-block', !t);
            });
        });
    </script>
    {% endif %}
</body>

</html>