{%- import "macros/general.html.jinja" as general -%}
{%- import "macros/artalk.html.jinja" as artalk -%}
{%- import "macros/paper.html.jinja" as paper -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    {% call general::headerfiles() %}
    <title th:text="${q.abbr(50)}"></title>
</head>

<body class="container">
    {% call general::header() %}
    <div class="d-flex justify-content-center mb-3">
        <svg class="icon-svg">
            <use xlink:href="#ic-message"></use>
        </svg>
    </div>
    <div id="printcontent">
        <div th:if="${q.material!=null}" class="material" th:each="m:${q.material}">
            <h3 class="text-center mt-2" th:text="|材料${m.chineseNumber()}|"></h3>
            <div th:utext="${m.html}"></div>
        </div>
        <div class="card my-3" th:include="fragments/question::question_card(${q})"></div>
    </div>
    <div th:if="${recommends!=null && !recommends.isEmpty()}" class="card my-3">
        <div class="card-header text-white bg-info">类似题目</div>
        <div class="card-body px-0">
            <div th:each="q:${recommends}" class="card my-1 rounded-0"
                th:include="fragments/question::question_card(${q})"></div>
        </div>
    </div>
    {% call artalk::comment(true,true,true,"快来参与讨论吧")%}
    {% call general::footer() %}
    {% call painter::painter() %}
    <script th:replace="fragments/indent::solution-indent"></script>
    <script th:replace="fragments/question::solution-comment-script"></script>
    {% call question::answer_collapse_action() %}
</body>

</html>