<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Refresh</title>
    <script>
        try {
            localStorage.setItem('ArtalkUser', '{{user | json | safe}}');
        } catch (e) {
            console.log(e);
        }
        var loginPre = Cookies.get('login-pre', { domain: ".dtiku.cn", path: '/' }) || '/';
        location.href = loginPre;
    </script>
</head>

<body>
    <p style="text-align: center;">正在登录，请稍候...</p>
</body>

</html>