{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/painter.html.min.jinja" as painter -%}
{%- import "macros/shenlun-template.html.min.jinja" as shenlun_template -%}
{%- import "macros/question.html.min.jinja" as question -%}
{%- import "macros/elements.html.min.jinja" as elements -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>{{kp_tree.kp_text_or_default(query.kp_id,"申论答案")}} | {{kp_tree.kp_text_or_default(query.kp_pid,"申论答案")}} | 申论题型分类 |
        {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
</head>

<body class="container">
    {% call general::header() %}
    <div class="row mb-4">
        <div class=" col-xs-12 col-md-3 mb-3">
            <div id="accordion" class="accordion position-sticky" style="top:0">
                {%for kpp in kp_tree.tree%}
                <div class="card">
                    <div class="card-header p-2" id="heading-{{kpp.id}}">
                        <button type="button"
                            class="btn btn-link btn-block d-flex align-items-center text-left {%if query.kp_pid!=kpp.id%}collapsed{%endif%}"
                            data-toggle="collapse" aria-expanded="{{query.kp_pid==kpp.id}}"
                            data-target="#collapse-{{kpp.id}}">
                            <svg class="icon-svg icon-svg-sm icon-svg-arrow mr-2">
                                <use xlink:href="#ic-arrow"></use>
                            </svg>
                            <b>{{kpp.name}}</b>
                        </button>
                    </div>
                    <div class="collapse {%if query.kp_pid==kpp.id%}show{%endif%}" data-parent="#accordion"
                        id="collapse-{{kpp.id}}">
                        <div class="list-group list-group-flush">
                            {%for kp in kpp.children %}
                            <a class="list-group-item d-flex justify-content-between align-items-center {%if query.kp_id==kp.id%}active{%endif%}"
                                href="/shenlun-categories/{{kpp.id}}/{{kp.id}}">
                                {%if query.kp_id == kp.id%}<strong>{{kp.name}}</strong>
                                {%else%}<span>{{kp.name}}</span>
                                {%endif%}
                                <span class="badge badge-pill badge-secondary">{{kp.qcount}}</span>
                            </a>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

        <div class="col-xs-12 col-md-9">
            {%if let Some(kp_name) = kp_tree.kp_text(query.kp_id)%}
            {%call shenlun_template::shenlun_template(kp_name.as_str())%}
            {%endif%}
            <ul class="nav nav-pills my-3" role="tablist">
                {%for y in years%}
                <li role="presentation" class="nav-item">
                    <a class="nav-link d-flex justify-content-between align-items-center {%if query.year==Some(*y.year)%}active{%endif%}"
                        href="/shenlun-categories/{{query.kp_pid}}/{{query.kp_id}}/{{y.year}}">
                        <span class="d-inline-block mr-1">{{y.year}}</span>
                        <span class="badge badge-pill badge-secondary">{{y.question_count}}</span>
                    </a>
                </li>
                {%endfor%}
            </ul>
            {%for q in questions%}
            {%call question::question_card(q)%}
            {%endfor%}
            {%call elements::pagination(page, query.build_url(), true)%}
        </div>
    </div>
    </div>
    {% call artalk::comment(true,true,true,"对网站或题目有啥疑问可以在这里吐槽") %}
    {% call general::footer() %}
    {% call painter::painter() %}
    <script th:replace="fragments/indent::solution-indent"></script>
    {%call elements::pager_select()%}
    <script src='/static/dist/js/speech.js'></script>
</body>

</html>