{%- import "macros/general.html.min.jinja" as general -%}
{%- import "macros/artalk.html.min.jinja" as artalk -%}
{%- import "macros/painter.html.min.jinja" as painter -%}
{%- import "macros/shenlun-template.html.min.jinja" as shenlun_template -%}
<!doctype html>
<html lang="zh">

<head>
    {% call general::meta() %}
    <title>{{kp_tree.kp_text_or_default(kp_id,"申论答案")}} | {{kp_tree.kp_text_or_default(kp_pid,"申论答案")}} | 申论题型分类 |
        {{global.config.site_title}}</title>
    {% call general::headerfiles() %}
</head>

<body class="container">
    {% call general::header() %}
    <div class="row mb-4">
        <div class=" col-xs-12 col-md-3 mb-3">
            <div id="accordion" class="accordion position-sticky" style="top:0">
                {%for kpp in kp_tree.tree%}
                <div class="card">
                    <div class="card-header p-2" id="heading-{{kpp.id}}">
                        <button type="button"
                            class="btn btn-link btn-block d-flex align-items-center text-left {%if kp_pid!=kpp.id%}collapsed{%endif%}"
                            data-toggle="collapse" aria-expanded="{{kp_pid==kpp.id}}"
                            data-target="#collapse-{{kpp.id}}">
                            <svg class="icon-svg icon-svg-sm icon-svg-arrow mr-2">
                                <use xlink:href="#ic-arrow"></use>
                            </svg>
                            <b>{{kpp.name}}</b>
                        </button>
                    </div>
                    <div class="collapse {%if kp_pid==kpp.id%}show{%endif%}" data-parent="#accordion"
                        id="collapse-{{kpp.id}}">
                        <div class="list-group list-group-flush">
                            {%for kp in kpp.children %}
                            <a class="list-group-item d-flex justify-content-between align-items-center {%if kp_id==kp.id%}active{%endif%}"
                                href="/shenlun-categories/{{kpp.id}}/{{kp.id}}">
                                {%if kp_id == kp.id%}<strong>{{kp.name}}</strong>
                                {%else%}<span>{{kp.name}}</span>
                                {%endif%}
                                <span class="badge badge-pill badge-secondary">{{kp.qcount}}</span>
                            </a>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

        <div class="col-xs-12 col-md-9">
            {%if let Some(kp_name) = kp_tree.kp_text(kp_id)%}
            {%call shenlun_template::shenlun_template(kp_name.as_str())%}
            {%endif%}
            <ul class="nav nav-pills my-3" role="tablist">
                <li role="presentation" class="nav-item" th:each="y:${yearStats}">
                    <a class="nav-link d-flex justify-content-between align-items-center"
                        th:classappend="${year==y.year?'active':''}"
                        th:href="@{/shenlun-categories/{category}/{text}/{year}(category=${category},text=${text},year=${y.year},fromType=${strings.defaultString(fromType,'')})}">
                        <span class="d-inline-block mr-1" th:text="${y.year}"></span>
                        <span class="badge badge-pill badge-secondary" th:text="${y.count}"></span>
                    </a>
                </li>
            </ul>
            <div class="card mb-3" th:each="q : ${page.content}" th:include="fragments/question::question_card(${q})">
            </div>
            <th:block
                th:include="fragments/elements::pagination(${page},@{/shenlun-categories/{c}/{t}/{y}(c=${category},t=${text},y=${year},fromType=${strings.defaultString(fromType,'')})},true)">
            </th:block>
        </div>
    </div>
    {% call artalk::comment(true,true,true,"对网站或题目有啥疑问可以在这里吐槽")%}
    {% call general::footer() %}
    {% call painter::painter() %}
    <script th:replace="fragments/indent::solution-indent"></script>
    <script th:replace="fragments/elements :: pager-select"></script>
    <script src='/static/dist/js/speech.js'></script>
</body>

</html>